@font-face {
    font-family: Century-Gothic;
    src: url('../fonts/century-gothic.ttf');
}

body {
    font-family: Century-Gothic;
}

#second-step {
    display: none;
}

#third-step {
    display: none;
}

#second-exit-step {
    display: none;
}

#past-day-0 {
    font-weight: bold;
}

.table-mid-col {
    font-weight: bold;
}

.chart {
    display: none;
}

.admin-table .header {
    font-weight: bold;
}
