{% extends 'index.html' %}

{% block form %}
    <p><a href="/">Back</a></p>

    <div class="form-step" id="first-exit-step">
        <p>Enter your e-mail:</p>
        <input type="email" name="email-exit" id="email-exit" />
        <button onclick="toggleStep('first-exit-step', 'second-exit-step')">
            Submit
        </button>
    </div>

    <div class="form-step" id="second-exit-step">
        <p>Confirm your e-mail</p>

        <input type="text" name="code" id="code" />
        <button onclick="">Confirm</button>
    </div>
{% endblock %}
