{% extends 'base.html' %}

{% block body %}
<div class="body">
    {% block cover %}
    <div class="cover">
        {% block title %}
            <h1>predictable</h1>
        {% endblock %}

        {% block form %}
        <div class="form-step" id="first-step">
            <p>Enroll for a newsletter</p>
            <p>Stay aware of crucial moments</p>

            <input type="email" name="email" id="email" />
            <button onclick="toggleStep('first-step', 'second-step')">
                Enroll
            </button>

            <p><a href="/exit">Stop getting notifications</a></p>
        </div>

        <div class="form-step" id="second-step">
            <button onclick="toggleStep('first-step', 'second-step')">
                Back
            </button>
            <p>Confirm your e-mail</p>

            <input type="text" name="code" id="code" />
            <button onclick="">Confirm</button>
        </div>
        {% endblock %}
    </div>
    {% endblock %}

    {% block content %}
    <div class="content">
        <input type="radio" id="price" name="table-radio" value="price" checked onclick="getRadioValue()" />
        <label for="price">Price</label>
        <input type="radio" id="change" name="table-radio" value="change" onclick="getRadioValue()" />
        <label for="change">Change (in units)</label>
        <input type="radio" id="percent" name="table-radio" value="percent" onclick="getRadioValue()" />
        <label for="change">Change (in percent)</label>

        <table class="table" id="table">
            <tr>
                <td></td>
                {% for idx in range(4, 0, -1) %}
                    <td class="table-header" id="past-day-{{idx - 1}}"></td>
                {% endfor %}

                {% for idx in range(3) %}
                    <td class="table-header" id="future-day-{{idx}}"></td>
                {% endfor %}
            </tr>

            {% for currency in ['bitcoin', 'ethereum', 'ripple', 'tether', 'bitcoin-cash', 'cardano', 'litecoin', 'eos', 'chainlink', 'tezos'] %}
            <tr>
                <td class="currency-name">{{currency}}</td>
                {% for idx in range(3, 0, -1) %}
                    <td class="{{currency}}-values" id="{{currency}}-past-{{idx}}">1.0</td>
                {% endfor %}

                <td class="{{currency}}-values table-mid-col" id="{{currency}}-past-0">1.0</td>

                {% for idx in range(3) %}
                    <td class="{{currency}}-values" id="{{currency}}-future-{{idx}}">2.0</td>
                {% endfor %}
                <td>
                    <button onclick="showChart('{{currency}}')">View</button>
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <canvas class="chart" id="{{currency}}-chart"></canvas>
                </td>
            </tr>
            {% endfor %}
        </table>

        <script>
            getDaysOfWeek();
            getRadioValue();
        </script>
    </div>

    <div class="donation">
        <p>Help us growing up</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input type="hidden" name="hosted_button_id" value="LKHCTDTSEKK7E" />
            <input type="submit" name="submit" value="Donate" />
        </form>
    </div>

    <div class="footer">
        <p>Predictable 2020</p>
    </div>
    {% endblock %}
</div>
{% endblock %}
